body {
  text-align: center;
  background: linear-gradient(white, grey);
  background-repeat: no-repeat;
  font: 14px "Lucida Grande",
  Helvetica, Arial, sans-serif;
}

body{
  padding: 600px;
  padding-top: 100px;
}

a {
  color: #00B7FF;
}

.delete-form, .done-form {
  display: inline-block;
}

.done-button {
  background-color: aqua;
}

.delete-button {
  background-color: red;
  color: white;
}

.all-done-button {
  background-color: blueviolet;
  color: white;
}

li {
  padding: 10px;
}

.error-message {
  color: red;
}

.info-message {
  color: black;
}
